html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.search-page {
    display: block;
}

.search-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    line-height: 25px;
}

.search-bar {
    display: inherit;
    margin: 1.5em 0;
    width: 100%;
    justify-content: center;
}

form input.search {
    padding: 10px 18px;
    background: rgba(50, 50, 50, 0.2);
    border: none;
    width: 60%;
}

form button.search-button {
    padding: 8px 18px;
    background-color: darkgreen;
    color: #fafafa;
    border: 2px solid darkgreen;
}

form button.search-button:hover {
    background-color: #fafafa;
    color: darkgreen;
    border: 2px solid darkgreen;
    cursor: pointer;
}

.logo-container {
    padding-top: 3em;
    text-align: center;
}

/* For main page */
.list-container {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.list-header {
    display: block;
    background-color: gray;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.topbar {
    display: flex;
    background-color: green;
    box-sizing: border-box;
    align-items: center;
}

.topbar * {
    color: white;
    font-size: 1.3em;
    padding: .2em 0;
    margin: 0 10px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

.topbar h1 {
    font-size: 1.5em;
}

.user-container {
    padding: .2em 0;
    margin: 0 10px;
    text-align: right;
    flex: 1;
}

.selected {
    text-decoration: underline;
}

.topbar a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.list-container {
    margin: 20px 0;
    padding-left: 40px;
    padding-right: 40px;
    background-color: lightblue;
    border-radius: 10px;
}

.letter-container {
    padding: 20px;
    margin: 0;
}

.alphabet-letter {
    font-size: 40px;
    margin: 0;
}

.recipe-letter-container {
    background-color: lightgreen;
    padding: 1em;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.recipe-letter-container:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
    cursor: pointer;
}

div.recipe {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.recipe img.foodimage {
    height: 100px;
    width: 100px;
}

img.favoriteIcon {
    height: 20px;
    width: 20px;
}

div.recipe-info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

div.recipe-info p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

p.recipe-title {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    font-size: 24px;
}

.favoriteIcon:hover {
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #646666;
    margin-bottom: 5px;
}

/* Form  */
.noscroll { 
    overflow: hidden;
}
/* TODO: When the popup is clicked, put the noscroll class on the body. When popup is gone. Remove it   */

.form-overlay {
    position: fixed;
    top: 0;
    left: 0;

    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
}

.form-container {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 25%;
    right: 25%;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    background-color: white;
    border: 2px solid black;
}

.form-container h1 {
    font-style: italic;
}

.form-elements-container {
    margin-left: 20px;
    margin-right: 20px;
}

.form-elements-container p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 24px;
}

.input-container {
    margin-bottom: 15px;
    padding: 5px 10px;
    background-color: #E9EEEE;
}

.form-elements-container input {
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgray;
    width: 100%;

}

.form-elements-container .submit-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
}

.recipe-description {
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.list-input {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    padding-left: 15px;
}

.list-input img {
    height: 30px;
    width: 30px;
}

.list-input input {
    border: none;
    padding-left: 10px;
}

.list-input input:focus {
    outline-width: 0;
}

.list-input p {
    font-size: 14px;
    padding-right: 15px;
    color: #5CA7DA;
    height: 100%;
}

.list-input p:hover {
    cursor: pointer;
}


.list-item p {
    font-size: 20px;
    font-weight: normal;
    word-break: break-word;
}

.list-item img {
    margin-left: 10px;
    height: 14px;
    width: 14px;
}

.list-item img:hover {
    cursor:pointer;
    opacity: 0.5;
}

.list-item-contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 16px;
}

#favorite-text {
    margin-left: 15px;
}

/* End of form */

/* Floating Action Button */
.fab {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:100px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.fab:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.my-float{
    margin-top:22px;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

/* End of FAB */

/* File input */
.box {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    font-size: 1.25rem;
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: center;
}

.is-dragover {
    background-color: grey;
}

.box-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box span {
    margin-top: 10px;
}

.box .input-clickable {
    cursor: pointer;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.box strong:hover {
    color: #50DFEB;
}

.box-image {
    height: 120px;
    width: 120px;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.error-message {
    color: red;
}

/* End of File Input */

footer {
    padding: 1em;
}

.hidden {
    display: none;
    visibility: hidden;
}

h2 {
    text-decoration: underline;
}

.recipe-details {
    display: flex;
    border: 2px solid black;
    padding: 1em;
    align-items: stretch;
}

.directions-container {
    margin-left: 4em;
    width: 100%;
}

.clicked {
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .recipe-details {
	flex-direction: column;
    }

    .directions-container {
	margin-left: 0;
    }
}
